.appList:hover  .buttonGroup {
  opacity: 1;
}

.buttonGroup {
  align-items: center;
  height: 100%;
  display: flex;
  float: right;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.appList:hover  .buttonGroup {
  opacity: 1;
}
