@import 'app-dashboard.scss';
@import 'landing-page.scss';
@import 'app-list.scss';
@import 'globals.scss' ;
@import 'app-details.scss';
@import 'variant-forms.scss';

:root {
  --pf-global--FontSize--4xl: 2.25rem;
  --pf-global--FontSize--3xl: 1.75rem;
  --pf-global--FontSize--2xl: 1.5rem;
  --pf-global--FontSize--xl: 1.25rem;
  --pf-global--FontSize--lg: 1.125rem;
  --pf-global--FontSize--md: 1rem;
  --pf-global--FontSize--sm: 0.875rem;
  --pf-global--FontSize--xs: 0.75rem;

  --pf-global--Color--dark-100: rgb(85,85,85);
  --pf-global--FontFamily--sans-serif: "Open Sans",Helvetica,Arial,sans-serif;
}

// Buttons

.button-small {
  font-size: 12px;
}

//////////


#root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 24px;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.1;
}

emptyState {
  margin-top: 64px;
  margin-left: 24px;
  margin-right: 24px;
}


//styling for Modal dialogs
.dialog-form{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formInput{
  margin-top: 20px;
}

.formButtons{
  margin-right: 10px;
  margin-top: 10px;
}

.dialogBtn {
  margin-right: 10px;
}
